footer {
  top: 2900px;
  background-color: #2f303a;
  margin: 0;
  text-decoration: none;
  width: 100%;
  height: 252px;
  background: #2f303a;
  position: absolute;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.WebStudio_footer {
  text-decoration: none;
  position: absolute;
  left: 215px;
  top: 60px;
  font-weight: 700;
  font-family: Raleway;
  font-size: 26px;
  line-height: 31px;
  color: #2196f3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.logo_2_element_footer {
  color: white;
}

.mail_tel_footer {
  list-style: none;
  position: absolute;
  left: 215px;
  top: 120px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.location {
  color: white;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: #FFFFFF;
}

.mail_footer {
  text-decoration: none;
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);

}

.tel_footer {
  text-decoration: none;
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);

}

.Ellipse_footer_inst {
  position: absolute;
  top: 110px;
  left: 500px;
  fill: rgba(255, 255, 255, 0.1);
}

.Ellipse_footer_twiter {
  position: absolute;
  top: 110px;
  left: 560px;
  fill: rgba(255, 255, 255, 0.1);
}

.Ellipse_footer_facebook {
  position: absolute;
  top: 110px;
  left: 620px;
  fill: rgba(255, 255, 255, 0.1);
}

.Ellipse_footer_in {
  position: absolute;
  top: 110px;
  left: 680px;
  fill: rgba(255, 255, 255, 0.1);
}

.inst_footer_svg {
  position: absolute;
  top: 122px;
  left: 512px;
  fill: white;
}

.twitter_footer_svg {
  position: absolute;
  top: 122px;
  left: 572px;
  fill: white;
}

.facebook_footer_svg {
  position: absolute;
  top: 122px;
  left: 632px;
  fill: white;
}

.in_footer_svg {
  position: absolute;
  top: 122px;
  left: 692px;
  fill: white;
}

.invite_footer {
  position: absolute;
  width: 145px;
  height: 16px;
  left: 28%;
  top: 75px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: white;
}

.footer_inst_div:hover .Ellipse_footer_inst {
  fill: #2196f3;
}

.footer_twiter_div:hover .Ellipse_footer_twiter {
  fill: #2196f3;
}

.footer_facebook_div:hover .Ellipse_footer_facebook {
  fill: #2196f3;
}

.footer_in_div:hover .Ellipse_footer_in {
  fill: #2196f3;
}

.endopodp{
  position: absolute;
  top: 15px;
  left: 60%;
  width: 200px;
  height: 200px;
}

.podp{
  color: white;
  position: relative;
  left: -70%;
  width: 300px;
  text-decoration: none;
  text-transform: none;
  list-style: none;
  font-size: 15px;
  margin-top:60px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #FFFFFF;
}
.Email{
  margin-top: 20px;
  left: -150px;
  position: relative;
  width: 358px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
background: #2F303A;

}
.endopodp > input::placeholder{
  position: relative;
  left: 0px;
}
footer > div > button{
  cursor: pointer;
  position: absolute;
  transition: 0.5s;
  top: 48%;
  left: 110%;
  width: 200px;
  height: 40px;
  background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: none;
}
.but-t{
  transition: 0.5s;
  font-size: 12px;
  position: absolute;
  left: 20%;
  top: 35%;
  color:white;

}
.but-svg{
  transition: 0.5s;
  fill: white;
  position:absolute;
  top:20%;
  left: 70%;
}
footer>div>button:hover {
  background-color:white;
}
footer>div>button:hover .but-t{
  color:black;
}
footer>div>button:hover .but-svg{
  fill: #2196F3;
}


.footer_inst_div{
  position: relative;
  left: 20px;
}
.footer_twiter_div{
  left: 20px;
  position: relative;
}
.footer_facebook_div{
  left: 20px;
  position: relative;
}
.footer_in_div{
  left: 20px;
  position: relative;
}
